@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Roboto:300,400,500,700&display=swap');

body {
 background-color: lightblue;
  font-family:Roboto;
}

/*--style Drop down instructions--*/

/* Dropdown Button */
.buttonInstructions {
  background-color: #65b0cc;
  color: white;
  padding: 10px;
  width:150px;
  position: relative;
  margin: 0 auto;
  font-size: 16px;
  border: none;
  cursor: pointer;
  left:20px;
  border-radius:2%;
}

/* wrapper div of the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width:100%;
  margin: 0 auto;
}

/* Dropdown Content display none before hover */
.dropdown-content {
  display: none;
  position: relative;
  margin: 0 auto;
  padding-top:20px;
  background-color: #f9f9f9;
  width: 80%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* On hover display the dropdown content */
.dropdown:hover .dropdown-content {
  display: block;
  z-index: 1;
}

.dropdown:hover .buttonInstructions {
  background-color: white;
  border: solid 2px #65b0cc;
  color: #65b0cc;
  -webkit-transition: height 0.3s ease-in;
  -moz-transition: height 0.3s ease-in;
  -o-transition: height 0.3s ease-in;
-ms-transition: height 0.3s ease-in;
transition: height 0.3s ease-in;
}

/*style course instructions introduction paragraph*/
.instructions{
  text-align: justify;
  padding:10px;
}

p {
  text-align: justify;
  padding-left:20px;
  padding-right:20px;
  padding-bottom:20px;
}

ul {
  text-align: justify;
  padding-right:20px;
}

nav {
  width: 50%;
  margin: 0 auto;
}

/*--End style Drop down instructions--*/

/*--style Game container--*/

.container{
  width: 472px;
  height:472px;
  border-radius:100%;
  position: relative;
  text-align: center;
  margin:auto;
  background-color:darkslategray;
  top:10vh;
  box-shadow: 0px 0px 12px #222;
}

.fourPads{
  position: relative;
  top:12px;
}

.pad.red {
    background:darkred;
    border-top-right-radius : 100%;
}

.pad.green {
    background:darkgreen;
    border-top-left-radius : 100%;
}

.pad.yellow {
    background:goldenrod;
    border-bottom-left-radius : 100%;
}

.pad.blue {
    background:darkblue;
    border-bottom-right-radius : 100%;
}

.console{
  width:50%;
  height:50%;
  position : absolute;
  border-radius:100%;
  top:50%;
  left:50%;
  margin: -122px 0 0  -122px;
  background-color:#ECE7EE;
  border: 12px solid #333;
}

.pad {
  position  : relative;
  width:200px;
  height:200px;
  background-color : grey;
  border: 12px solid #333;
}

.inline{
  display: inline-block;
}

.counter{
  font-family: Roboto;
  color : white;
  padding : 0px;
  font-size : 2em;
  width : 50px;
  background-color: #00FF;
  position:relative;
  border : 4px solid #222;
  border-radius : 10px;
  margin:auto;
}

.round-btn{
  width : 25px;
  height : 25px;
  position: relative;
  background-color : mediumvioletred;
  border-radius : 20%;
  border : 2px solid #222;
  margin:auto;
  top : -5px;
}

.round-btn:active{
    box-shadow : 0 1px 1px #292929;
    top : -4px;
}

.clickable{
  pointer-events : auto;
  cursor:pointer;
}

.led-on{
  background-color:#DC0D29;
}

.led-off{
  color:white;
}

.label{
  color : grey;
  font-family :Roboto;
  font-size:0.7em;
  margin-top:5px;
  text-align:center;
}

.display{
  width : 80px;
  position:relative;
  text-align:center;
}

.btn-box{
  width : 50px;
  position:relative;
}
/*--style Game container--*/